In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving Energy Indicators.xls to Energy Indicators.xls

In [ ]:
import pandas as pd

STEP 0

In [ ]:
import io
energy = pd.read_excel(io.BytesIO(uploaded['Energy Indicators.xls']))

In [ ]:
 energy = energy[16:243]

In [ ]:
energy

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
16,NaN,NaN,NaN,Petajoules,Gigajoules,%
17,NaN,Afghanistan,Afghanistan,321,10,78.66928
18,NaN,Albania,Albania,102,35,100
19,NaN,Algeria,Algeria,1959,51,0.55101
20,NaN,American Samoa,American Samoa,...,...,0.641026
...,...,...,...,...,...,...
238,NaN,Venezuela (Bolivarian Republic of),Venezuela (Bolivarian Republic of),2871,95,67.83452
239,NaN,Viet Nam,Viet Nam,2554,28,45.32152
240,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0
241,NaN,Yemen,Yemen,344,13,0
242,NaN,Zambia,Zambia,400,26,99.71467

In [ ]:

 energy = energy.drop(energy.columns[[0, 1]], axis=1)

In [ ]:
energy

                             Unnamed: 2  Unnamed: 3  Unnamed: 4 Unnamed: 5
16                                  NaN  Petajoules  Gigajoules          %
17                          Afghanistan         321          10   78.66928
18                              Albania         102          35        100
19                              Algeria        1959          51    0.55101
20                       American Samoa         ...         ...   0.641026
..                                  ...         ...         ...        ...
238  Venezuela (Bolivarian Republic of)        2871          95   67.83452
239                            Viet Nam        2554          28   45.32152
240           Wallis and Futuna Islands           0          26          0
241                               Yemen         344          13          0
242                              Zambia         400          26   99.71467

[227 rows x 4 columns]

In [ ]:
energy.rename(columns={'Unnamed: 2': 'Country','Unnamed: 3':'Energy Supply','Unnamed: 4':'Energy Supply per Capita','Unnamed: 5':'% Renewable'}, inplace=True)

In [ ]:
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
16,NaN,Petajoules,Gigajoules,%
17,Afghanistan,321,10,78.66928
18,Albania,102,35,100
19,Algeria,1959,51,0.55101
20,American Samoa,...,...,0.641026
...,...,...,...,...
238,Venezuela (Bolivarian Republic of),2871,95,67.83452
239,Viet Nam,2554,28,45.32152
240,Wallis and Futuna Islands,0,26,0
241,Yemen,344,13,0
242,Zambia,400,26,99.71467

In [ ]:
import numpy as np

In [ ]:
  energy.replace('...', np.nan,inplace = True)

In [ ]:
  energy.replace('np.nan', np.nan,inplace = True)

In [ ]:
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
16,NaN,Petajoules,Gigajoules,%
17,Afghanistan,321,10,78.66928
18,Albania,102,35,100
19,Algeria,1959,51,0.55101
20,American Samoa,NaN,NaN,0.641026
...,...,...,...,...
238,Venezuela (Bolivarian Republic of),2871,95,67.83452
239,Viet Nam,2554,28,45.32152
240,Wallis and Futuna Islands,0,26,0
241,Yemen,344,13,0
242,Zambia,400,26,99.71467

In [ ]:
energy['Energy Supply'] *= 1000000

In [ ]:
energy.rename(index={"Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong"})

,Country,Energy Supply,Energy Supply per Capita,% Renewable
16,NaN,PetajoulesPetajoulesPetajoulesPetajoulesPetajo...,Gigajoules,%
17,Afghanistan,321000000,10,78.66928
18,Albania,102000000,35,100
19,Algeria,1959000000,51,0.55101
20,American Samoa,NaN,NaN,0.641026
...,...,...,...,...
238,Venezuela (Bolivarian Republic of),2871000000,95,67.83452
239,Viet Nam,2554000000,28,45.32152
240,Wallis and Futuna Islands,0,26,0
241,Yemen,344000000,13,0
242,Zambia,400000000,26,99.71467

In [ ]:
energy.loc[:,"Country"]

16                                    NaN
17                            Afghanistan
18                                Albania
19                                Algeria
20                         American Samoa
                      ...
238    Venezuela (Bolivarian Republic of)
239                              Viet Nam
240             Wallis and Futuna Islands
241                                 Yemen
242                                Zambia
Name: Country, Length: 227, dtype: object

In [ ]:
energy['Country'] = energy['Country'].str.extract('(^[a-zA-Z]+)', expand=False)

In [ ]:
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
16,NaN,PetajoulesPetajoulesPetajoulesPetajoulesPetajo...,Gigajoules,%
17,Afghanistan,321000000,10,78.66928
18,Albania,102000000,35,100
19,Algeria,1959000000,51,0.55101
20,American,NaN,NaN,0.641026
...,...,...,...,...
238,Venezuela,2871000000,95,67.83452
239,Viet,2554000000,28,45.32152
240,Wallis,0,26,0
241,Yemen,344000000,13,0
242,Zambia,400000000,26,99.71467

STEP 1

In [ ]:
from google.colab import files 
x = files.upload()

Saving world_bank.csv to world_bank.csv

In [ ]:
gdp=pd.read_csv(io.BytesIO(x['world_bank.csv']))

In [ ]:
 gdp = gdp[5:269]

In [ ]:
gdp.rename(index={"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"})

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
5,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
6,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
7,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
8,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
9,Arab World,ARB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.763824e+12,1.863481e+12,1.980983e+12,2.011001e+12,2.103825e+12,2.173896e+12,2.318267e+12,2.385580e+12,2.436659e+12,2.509068e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
264,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
265,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
266,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
267,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [ ]:
gdp =gdp.rename(columns={'Data Source': 'Country'}) #renaming country column to be used in indexing then to join the three datasets

In [ ]:
gdp=gdp.rename(columns={'Unnamed: 2':'Indicator Name','Unnamed: 3':'Indicator Code','Unnamed: 50':'2006','Unnamed: 51':'2007','Unnamed: 52':'2008','Unnamed: 53':'2009','Unnamed: 54':'2010','Unnamed: 55':'2011','Unnamed: 56':'2012',
  'Unnamed: 57':'2013','Unnamed: 58':'2014','Unnamed: 59':'2015'})

STEP 2

In [ ]:
y=files.upload()

Saving scimagojr-3.xlsx to scimagojr-3.xlsx

In [ ]:
scimEn = pd.read_excel(io.BytesIO(y['scimagojr-3.xlsx']))

In [ ]:
 scimEn=scimEn[scimEn['Rank']<=15]

In [ ]:
scimEn

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86

In [ ]:
  scimEn.set_index('Country')

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,
China,1,127050,126767,597237,411683,4.70,138
United States,2,96661,94747,792274,265436,8.20,230
Japan,3,30504,30287,223024,61554,7.31,134
United Kingdom,4,20944,20357,206091,37874,9.84,139
Russian Federation,5,18534,18301,34266,12422,1.85,57
Canada,6,17899,17620,215003,40930,12.01,149
Germany,7,17027,16831,140566,27426,8.26,126
India,8,15005,14841,128763,37209,8.58,115
France,9,13153,12973,130632,28601,9.93,114
South Korea,10,11983,11923,114675,22595,9.57,104
Italy,11,10964,10794,111850,26661,10.20,106
Spain,12,9428,9330,123336,23964,13.08,115
Iran,13,8896,8819,57470,19125,6.46,72
Australia,14,8831,8725,90765,15606,10.28,107
Brazil,15,8668,8596,60702,14396,7.00,86

In [ ]:
 gdp.set_index('Country')

,World Development Indicators,Indicator Name,Indicator Code,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,,
Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
Arab World,ARB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.763824e+12,1.863481e+12,1.980983e+12,2.011001e+12,2.103825e+12,2.173896e+12,2.318267e+12,2.385580e+12,2.436659e+12,2.509068e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,1.120109e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,1.803656e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,5.794651e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,4.028795e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [ ]:
 energy.set_index('Country')

,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,
NaN,PetajoulesPetajoulesPetajoulesPetajoulesPetajo...,Gigajoules,%
Afghanistan,321000000,10,78.66928
Albania,102000000,35,100
Algeria,1959000000,51,0.55101
American,NaN,NaN,0.641026
...,...,...,...
Venezuela,2871000000,95,67.83452
Viet,2554000000,28,45.32152
Wallis,0,26,0
Yemen,344000000,13,0
Zambia,400000000,26,99.71467

step 3

In [ ]:
df = pd.merge(pd.merge(energy, gdp, on='Country'), scimEn, on='Country')
df.set_index('Country',inplace=True)

df = df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
df = (df.loc[df['Rank'].isin([i for i in range(1, 16)])])
df.sort_values('Rank',inplace=True)

In [ ]:
df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
China,1,127050,126767,597237,411683,4.70,138,585000000,82,0,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
China,1,127050,126767,597237,411683,4.70,138,47000000,83,0,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,61.94543,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,17.90153,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195000000,26,14.96908,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,10597000000,166,17.02028,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109,33.66723,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106,37.96859,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231,11.81081,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,69.64803,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

STEP 4

In [ ]:
before_filter = pd.merge(scimEn , pd.merge(energy, gdp ,how= 'outer', on='Country'),how='outer' , on='Country')
before_filter

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1.0,China,127050.0,126767.0,597237.0,411683.0,4.70,138.0,127191000000,93,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,1.0,China,127050.0,126767.0,597237.0,411683.0,4.70,138.0,585000000,82,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
2,1.0,China,127050.0,126767.0,597237.0,411683.0,4.70,138.0,47000000,83,...,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
3,2.0,United States,96661.0,94747.0,792274.0,265436.0,8.20,230.0,NaN,NaN,...,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
4,3.0,Japan,30504.0,30287.0,223024.0,61554.0,7.31,134.0,18984000000,149,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,NaN,World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.023536e+13,6.282865e+13,6.398692e+13,6.291271e+13,6.564782e+13,6.770244e+13,6.937886e+13,7.104232e+13,7.291072e+13,7.470901e+13
344,NaN,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
345,NaN,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
346,NaN,"Congo, Dem. Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
347,NaN,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [ ]:
len(before_filter)-len(df)

336

step 5

In [ ]:
avgGDP = df.iloc[:,10:].T.mean(skipna = True).sort_values(ascending = False)

In [ ]:
def step_5():
    avgGDP = df.iloc[:,10:].T.mean(skipna = True).sort_values(ascending = False)
    return avgGDP

In [ ]:
assert type(step_5()) == pd.Series

In [ ]:
avgGDP

Country
China        6.348609e+12
China        6.348609e+12
China        6.348609e+12
Japan        5.542208e+12
Germany      3.493025e+12
France       2.681725e+12
Brazil       2.189794e+12
Italy        2.120175e+12
India        1.769297e+12
Canada       1.660647e+12
Spain        1.418078e+12
Australia    1.164043e+12
dtype: float64

step 6

In [ ]:
df["Energy Supply per Capita"].mean()

130.41666666666666

step 7

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, China to Brazil
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rank                      12 non-null     int64
 1   Documents                 12 non-null     int64
 2   Citable documents         12 non-null     int64
 3   Citations                 12 non-null     int64
 4   Self-citations            12 non-null     int64
 5   Citations per document    12 non-null     float64
 6   H index                   12 non-null     int64
 7   Energy Supply             12 non-null     object
 8   Energy Supply per Capita  12 non-null     object
 9   % Renewable               12 non-null     object
 10  2006                      12 non-null     float64
 11  2007                      12 non-null     float64
 12  2008                      12 non-null     float64
 13  2009                      12 non-null     float64
 14  2010                      12 non-null     float64
 15  2011                      12 non-null     float64
 16  2012                      12 non-null     float64
 17  2013                      12 non-null     float64
 18  2014                      12 non-null     float64
 19  2015                      12 non-null     float64
dtypes: float64(11), int64(6), object(3)
memory usage: 2.0+ KB

step 8

In [ ]:
df.rename(columns={'% Renewable':'Renewable'},inplace=True)

In [ ]:
df['Renewable']=df.Renewable.astype(float)

In [ ]:
x=df["Renewable"].idxmax()

In [ ]:
df["Renewable"].idxmax(),df["Renewable"].max()

('Brazil', 69.64803)

step 9

In [ ]:
 meann= df["Renewable"].mean()

HighRenew = df["Renewable"].apply(lambda x : 1 if x > meann else 0)
HighRenew

Country
China        0
China        0
China        0
Japan        0
Canada       1
Germany      0
India        0
France       0
Italy        1
Spain        1
Australia    0
Brazil       1
Name: Renewable, dtype: int64

step 10

In [ ]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
groups = pd.DataFrame(columns = ['size', 'sum', 'mean', 'std'])
df['Estimate Population'] = df['Energy Supply'] /df['Energy Supply per Capita']
for group, frame in df.groupby(ContinentDict):
    groups.loc[group] = [len(frame), frame['Estimate Population'].sum(),frame['Estimate Population'].mean(),frame['Estimate Population'].std()]
groups

               size           sum          mean           std
Asia            5.0  2.779486e+09  5.558971e+08  7.020810e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          4.0  2.505587e+08  6.263967e+07  1.397102e+07
North America   1.0  3.523986e+07  3.523986e+07           NaN
South America   1.0  2.059153e+08  2.059153e+08           NaN